.form-control {
    width: 100px;
    height: 100px;
}

.formControl.error input,
.formControl.error textarea {
    border: red 3px solid;
}

.formControl.error span {
    color: red;
}

.formSumError {
    border: red 2px solid;
    padding: 5px;
    color: crimson;
    width: 150px;
}
