.header {
grid-area: h;
background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;

}

 img {
    width: 100px;
    /*float: left;*/
    display: flex;
    align-items: start;
     justify-content: start ;
    }
img:hover {filter: contrast(150%)}

.loginBlock {
    justify-content: end ;
    align-items: end;
    /*padding: -20px;*/
    }
.loginBlock a {
    color: orangered;

    }

    