.nav {
    grid-area: n;
    background-color: moccasin;
    padding: 20px;
    max-width: 160px;
    /*display: flex;*/
}

.item {
    color: gray;
    text-decoration: darkgoldenrod;
}

.item .active {
    color: green;
}

.friendsContainer {
    display: flex;
    justify-content: space-between;
}

.friend {
    color: green;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    padding: 10px;
}